@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Passion+One&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

h1{

    font-family: 'Passion One', cursive;
    font-size: 60px;
    margin: 0;
    margin-bottom: 10px;

}
h2{
    font-family: 'Passion One', serif;


}

p{
    font-size: 15px;
}
.image-center{
    max-width: 100%;
    height: auto;
}

.menu{
    display: inline-table;
    margin-left: 10px;




}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;

}
a:active{
    text-decoration: underline;
    color: blue;

}